:root{
    /* Theme */
    --bg-col: #FFFDEC;
    --title-col: #86A788;
    --about-col:  #FFFDEC;
    --projects-col: #FFFDEC;
    --title-text-col: #FFCFCF;
    --body-text-col: #86A788;
    --title-alt-col: #FFCFCF;
}

body{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    background-color: var(--bg-col);
}

.layout{
    padding-left:  2%;
    padding-right: 2%;
}

.portfolioLayout{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;

    color: var(--body-text-col);
    background-color: var(--about-col);

    font-size: 2vw;

    table-layout: fixed;
}

.portfolioHeader{
    text-align: center;
    justify-content: center;
}

.vid{
    text-align: center;
}

.portfolioTextL{
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: left;
    margin-left: 10%;
    margin-right: 30%;
}

.portfolioTextR{
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: right;
    margin-left: 30%;
    margin-right: 10%;
}

.NavBarContents{
    text-align: left;
    color: var(--title-text-col);
    font-size: 150%;
}

.NavBar{
    float: right;
    margin-right: 20%;
}

.Logo{
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: 20%;
}

a{
    color: var(--body-text-col);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: var(--title-text-col);
    text-decoration: underline;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

.titletext {
    font-size: 250%;
    color: var(--title-text-col);
 }

.title{
    width: 100%;
    background-color: var(--title-col);
}

.about{
    color: var(--body-text-col);
    background-color: var(--about-col);

    font-size: 150%;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 10px dashed var(--body-text-col);
    margin: 1em 0; 
    padding: 0; 
}

.projects{
    color: var(--body-text-col);
    background-color: var(--projects-col);
    font-size: 150%;
}

.PPageTable{
    color: var(--body-text-col);
    background-color: var(--projects-col);
    font-size: 150%;
    table-layout: fixed;
}

.lcol{
    text-align: right;
}
.rcol{
    text-align: left;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CVText{
    color: var(--body-text-col);
    text-align: center;
}

.contact{
    text-align: center;
}